* {
  font-family: Georgia, 'Times New Roman';
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#header {
  margin: 10px auto;
  width: 672px;
  text-align: center;
}

#gameboard {
  height: 416px; /* 32px tile * 13 tiles */
  width: 672px;  /* 32px tile * 21 tiles */
  border-color: #ccc;
  border-style: inset;
  border-width: 10px;
  margin: 0px auto;
  position: relative;
}

#textconsole {
  border-color: #ccc;
  border-style: inset;
  border-width: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  margin: 10px auto;
  font-family: System, Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  width: 652px;
}

.tile {
  background-image: url(../images/tiles32.gif);
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
}
